<h1>Mother fucker test</h1>
<style>
    .container {
  width: 80%;
  height: 200px;
  background: aqua;
  margin: auto;
  padding: 10px;
}

.one {
  width: 50%;
  height: 200px;
  float: left;
  border: solid 2px white;
}

.two {
  margin-left: 50%;
  height: 200px;
  border: solid 2px black;
}
</style>
<section class="container">
  <div class="one"><fragment id="fragment-1" src="http://localhost:4500/" async ></fragment></div>
    <div class="two"><fragment id="fragment-2" src="http://localhost:4600/" async ></fragment></div>
  </section>

